::-webkit-scrollbar {
    display: none;
}
* {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 100%;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "bely", serif;
    /*
    hyphenate-character: ' -';
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    */
    color: white;
}
body {
    background-color: rgba(255, 255, 255, 1);
}
.bold {
    font-weight: 600 !important;
}
.italic {
    font-style: italic !important;
}
.center {
    text-align: center;
}
.underline {
    -webkit-text-decoration: underline;
    -moz-text-decoration: underline;
    -ms-text-decoration: underline;
    -o-text-decoration: underline;
    text-decoration: underline;
}
.colorWhite {
    color: rgba(255, 255, 255, 1) !important;
}
.colorBlack {
    color: rgba(0, 0, 0, 1) !important;
}
.colorCustom {
    color: #8ad7cb !important;
}
a {
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
    pointer-events: all;
}
a:hover {
    opacity: .3;
    cursor: pointer;
}
.scrollContainer {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: both mandatory;
}
.scrollSection {
    height: 100%;
    scroll-snap-align: start;
}
.description {
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* page fadein stuff */

.hidden {
    opacity: 0;
}
.visible {
    opacity: 1;
}

/* mobile */

@media only screen and (max-width: 767px) {
    :root {
        --gridWidth: 16;
        --viewWidth: 100vw;
    }
    .fontL {
        font-size: calc(calc(var(--viewWidth) / var(--gridWidth)) * 1.35);
        line-height: calc(calc(var(--viewWidth) / var(--gridWidth)) * 1.5);
    }
    .fontM {
        font-size: calc(calc(var(--viewWidth) / var(--gridWidth)) * 1);
        line-height: calc(calc(var(--viewWidth) / var(--gridWidth)) * 1);
    }
    .fontS {
        font-size: calc(calc(var(--viewWidth) / var(--gridWidth)) * .675);
        line-height: calc(calc(var(--viewWidth) / var(--gridWidth)) * .75);
    }
    div[class^="asset_"], div[class*="asset_"]{
        display: inline-block;
    }
    .asset_full {
        width: 100vw;
        height: 100vh;
    }
    .asset_left, .asset_right {
        width: 100vw;
        height: 50vh;
    }
    .asset_left {
        float: left;
    }
    .asset_right {
        float: right;
    }
    .asset_topleft, .asset_topright, .asset_bottomleft, .asset_bottomright {
        width: 50vw;
        height: 50vh;
        color: black;
    }
    .asset_topleft {
        float: left;
    }
    .asset_topright {
        float: right;
    }
    .asset_bottomleft {
        float: left;
        bottom: 0 !important;
    }
    .asset_bottomright {
        float: right;
        bottom: 0 !important;
    }
}

/* tablet */

@media only screen and (min-width: 768px) and (max-width: 1160px) {
    :root {
        --gridWidth: 46;
        --viewWidth: 100vw;
    }
    .fontL {
        font-size: calc(calc(var(--viewWidth) / var(--gridWidth)) * 1.35);
        line-height: calc(calc(var(--viewWidth) / var(--gridWidth)) * 1.35);
    }
    .fontM {
        font-size: calc(calc(var(--viewWidth) / var(--gridWidth)) * 1);
        line-height: calc(calc(var(--viewWidth) / var(--gridWidth)) * 1);
    }
    .fontS {
        font-size: calc(calc(var(--viewWidth) / var(--gridWidth)) * .675);
        line-height: calc(calc(var(--viewWidth) / var(--gridWidth)) * .675);
    }
}

/* tablet and above */

@media only screen and (min-width: 768px) {
    div[class^="asset_"], div[class*="asset_"]{
        display: inline-block;
    }
    .asset_full {
        width: 100vw;
        height: 100vh;
    }
    .asset_left, .asset_right {
        width: 50vw;
        height: 100vh;
    }
    .asset_left {
        float: left;
    }
    .asset_right {
        float: right;
    }
    .asset_topleft, .asset_topright, .asset_bottomleft, .asset_bottomright {
        width: 50vw;
        height: 50vh;
        color: black;
    }
    .asset_topleft {
        float: left;
    }
    .asset_topright {
        float: right;
    }
    .asset_bottomleft {
        float: left;
        bottom: 0 !important;
    }
    .asset_bottomright {
        float: right;
        bottom: 0 !important;
    }
}

/* desktop */

@media only screen and (min-width: 1160px) {
    :root {
        --gridWidth: 44;
        --viewWidth: 100vw;
    }
    .fontL {
        font-size: calc(calc(var(--viewWidth) / var(--gridWidth)) * 1.8);
        line-height: calc(calc(var(--viewWidth) / var(--gridWidth)) * 2);
    }
    .fontM {
        font-size: calc(calc(var(--viewWidth) / var(--gridWidth)) * 1);
        line-height: calc(calc(var(--viewWidth) / var(--gridWidth)) * 1);
    }
    .fontS {
        font-size: calc(calc(var(--viewWidth) / var(--gridWidth)) * .45);
        line-height: calc(calc(var(--viewWidth) / var(--gridWidth)) * .5);
    }
}

/* desktop ultrawide */

@media only screen and (min-width: 1160px) and (min-aspect-ratio: 21/9) {
    :root {
        --gridWidth: 44;
        --viewWidth: 50vw;
        --margin: 25vw;
    }
    .fontL {
        font-size: calc(calc(var(--viewWidth) / var(--gridWidth)) * 1.35);
        line-height: calc(calc(var(--viewWidth) / var(--gridWidth)) * 1.35);
    }
    .fontM {
        font-size: calc(calc(var(--viewWidth) / var(--gridWidth)) * 1);
        line-height: calc(calc(var(--viewWidth) / var(--gridWidth)) * 1);
    }
    .fontS {
        font-size: calc(calc(var(--viewWidth) / var(--gridWidth)) * .675);
        line-height: calc(calc(var(--viewWidth) / var(--gridWidth)) * .675);
    }
}

/* image sources */

#asset_01_concrete_000 {
    background-image: url("../assets/asset_01_concrete_000.jpg") !important;
    background-position: center;
    background-size: cover;
}
#asset_01_concrete_001 {
    background-image: url("../assets/asset_01_concrete_001.jpg") !important;
    background-position: center;
    background-size: cover;
}



#asset_02_furka_000 {
    background-image: url("../assets/asset_02_furka_000.jpg") !important;
    background-position: center;
    background-size: cover;
}
#asset_03_cupcake_000 {
    background-image: url("../assets/asset_03_cupcake_000.jpg") !important;
    background-position: center;
    background-size: cover;
}
#asset_04_icons_000 {
    background-image: url("../assets/asset_04_icons_000.jpg") !important;
    background-position: center;
    background-size: cover;
}
#asset_05_vespa_riders_000 {
    background-image: url("../assets/asset_05_vespa_riders_000.jpg") !important;
    background-position: center;
    background-size: cover;
}
#asset_06_whipped_cream_000 {
    background-image: url("../assets/asset_06_whipped_cream_000.jpg") !important;
    background-position: center;
    background-size: cover;
}
#asset_07_giftcard_000 {
    background-image: url("../assets/asset_07_giftcard_000.jpg") !important;
    background-position: center;
    background-size: cover;
}
#asset_08_cable_car_000 {
    background-image: url("../assets/asset_08_cable_car_000.jpg") !important;
    background-position: center;
    background-size: cover;
}

/* carousel leftover css *//*

body {
    counter-reset: item;
}
img {
    display: inline-block;
}

*/

/* DEBUG *//*

* {
    background-color: rgba(255, 0, 0, .2);
    outline: 1px dashed black !important;
}